<launch>

    <rosparam command="load" file="$(find usma_ptu)/config/ptu.yaml" />

    <include file="$(find usma_ptu)/launch/controller_manager.launch" />
    <include file="$(find usma_ptu)/launch/controller_spawner.launch" />  

    <!-- Start the myo node -->
    <node name="myo_node" pkg="usma_ptu" type="myo_driver.py" output="screen" />

    <!-- Start the myo-dynamixel node -->
    <node name="move_ptu_myo" pkg="usma_ptu" type="move_ptu_myo.py" output="screen" />

</launch>
